h1 {
    text-align: center;
    text-transform: uppercase;
}


td {
    padding: 10px;
    border: none;
    background: #e2e2e2;

}


#myBtn, .modal input {
    margin-top: 10px;
    background: #2d2d2d;
    color: #ffffff;

    padding: 10px;
    text-transform: uppercase;

    font-weight: bold;

}


.overlay {

    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 20;
    transition: .3s all;
}

.modal {

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    padding: 60px 15px;
    visibility: hidden;


}

.modal-content {
    width: 100%;
    max-width: 500px;
    padding: 50px;
    background: #f9f9f9;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 1px 3px black;
}

.modal .input {
    margin-top: 10px;
}
.modal .form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.modal .input input {
    height: 25px;
    border: 2px;
    background: silver;
    color: #2d2d2d;
}


.modal .close {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 10px 10px 10px 0;
    background: silver;
    border: none;
    text-transform: uppercase;

}



.modal.active, .overlay.active {
    visibility: visible;
}


.s2 {
    height: 4000px;
}


/* скрол блокируется */
.hystmodal__opened {
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
}